body{
    background-color: #343434;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header{
    font-size: 32px;
    color: #fff;
    text-align: center;
    font-family: Veranda, sans-serif;
}

img{
    width: 400px;
    height: 400px;
    margin: 10px;
    object-fit: cover;
}